body {
    font-size: 20px;
  }
  .photo {
    margin-bottom: 2rem;
  }
  .profile_photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .username {
    color: #058F03;
  }
  nav {
    color: #4888BE !important;
    height: 8vh !important;
    font-size: 25;
    padding-top: 1vh;
  }
  a {
    color: wheat;
    font-weight: 900;
  }
  h2,h1 {
    color: #449D44;
  }
  .img-thumbnail {
    cursor: pointer;
    border-radius: 6px;
  }
  .gal-item {
    float: left !important;
  }
  .img-thumbnail:hover {
    opacity: 0.9;
    background-color: #295168;
  }
  .link:hover {
    color: blue;
    font-weight: 900;
  }
  .footer {
    color: #449D44 !important;
  }
  .footer a {
    color: #449D44 !important;
  }
  img {
    width: 100%;
  }
  .pull-right, .subscribe {
    color: white !important;
  }
  .menu {
    color: white !important;
  }
  .banner {
    height: 60vh;
    background-image: url('https://res.cloudinary.com/dbos9xidr/image/upload/v1625440961/windows2_avbnls.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .name {
    padding-top: 8%;
    color: #058F03;
    text-align: center;
  }
  .slide {
    width: auto;
  }
  
  @media (max-width: 1000px) {
    nav {
      height: auto !important;
      padding-top: 1vh;
    }
    
  }