{% load bootstrap3 %}
{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="https://res.cloudinary.com/dbos9xidr/image/upload/v1625817525/parrot-PROFILE_oldbvn.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Instagram</title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock styles %}
</head>
<body>
{% include "navbar.html" %}
  {% block content %}
  {% endblock content %}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% bootstrap_javascript %}
    <script src="../static/js/script.js"></script>
  {% endblock scripts %}
</body>
</html>