{% load bootstrap3 %}
{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="https://res.cloudinary.com/dbos9xidr/image/upload/v1625817525/parrot-PROFILE_oldbvn.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Instagram</title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock styles %}
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="">
            <p style="color: #4888BE;font-size:50px;"><i class="fa fa-instagram"  aria-hidden="true"></i> Instagram</p>
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="col-sm-6 col-md-6">
                {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btn btn-default" style="color: #4888BE;" data-toggle="dropdown" role="button"
                aria-expanded="false">Account
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="{% url 'profile'%}">Profile</a>
                </li>
                <li>
                  <a href="{% url 'post'%}">Post</a>
                </li>
                <li>
                  <a href="/accounts/password/change">Change Password</a>
                </li>
                <li>
                  <a href="/logout">Logout</a>
                </li>
              </ul>
            </li>
            {% else %}
            <li>
              <a class='btn btn-default' style="color: #4888BE;" href="{% url 'register' %}">Sigup</a>
            </li>
            <li>
              <a class='btn btn-default' style="color: #4888BE; margin-left:5px" href="{% url 'login' %}">Login</a>
            </li>

            {% endif %}
        </div>
        </li>
        </ul>
      </div>

  </div>
  {% block content %}
  {% endblock content %}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  {% bootstrap_javascript %}
  <script src="../static/js/script.js"></script>
  {% endblock scripts %}
</body>

</html>